<div class="entry-wrapper">
  <div class="entry-icon d-flex justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M3 22.5h18a3 3 0 003-3v-11a3 3 0 00-3-3h-3.9a.25.25 0 01-.248-.219l-.144-1.153A3 3 0 0013.734 1.5h-3.468a3 3 0 00-2.977 2.628l-.144 1.153A.25.25 0 016.9 5.5H3a3 3 0 00-3 3v11a3 3 0 003 3zM9.273 4.376a1 1 0 01.993-.876h3.468a1 1 0 01.993.876l.105.844a.25.25 0 01-.248.28H9.416a.25.25 0 01-.248-.28zM5.25 11a.75.75 0 01.75-.75h12a.75.75 0 01.75.75v.5a.75.75 0 01-.75.75H6a.75.75 0 01-.75-.75zm0 5.5a.75.75 0 01.75-.75h12a.75.75 0 01.75.75v.5a.75.75 0 01-.75.75H6a.75.75 0 01-.75-.75z"
      ></path>
    </svg>
    <div class="line" [style.height]="entryContent.style.height"></div>
  </div>
  <div #entryContent class="entry-content">
    <div class="header-item">
      <div class="date">10/2022 – present</div>
      <div class="address">Istanbul | Turkey</div>
    </div>
    <div class="header-item">
      <div class="position-degree-wrapper">
        <span class="position">Software developer (part time)</span>
      </div>
      <div class="company">P.I Works Inc.</div>
    </div>
    <div class="experience-description">
      <div>
        <ul>
          <li>
            Learned Software Engineering process improvements and best practices
          </li>
          <li>
            Developed frontend and backend projects using C# programming
            language and Angular framework
          </li>
          <li>
            Maintained strong knowledge of evolving technology trends
          </li>
          <li>
            Maintained strong knowledge of evolving technology trends
          </li>
          <li>
            Developed clear and clean codes for various projects
          </li>
          <li>
            Used DevOps principles to automate software. Such as applied `ci-cd`
            processes and deploy projects in kubernetes
          </li>
          <li>Wrote unit tests and test coverages keeped over 70%</li>
        </ul>
      </div>
    </div>
  </div>
</div>
