<div class="entry-wrapper d-flex flex-column align-items-center">
  <div class="entry-icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M3 22.5h18a3 3 0 003-3v-11a3 3 0 00-3-3h-3.9a.25.25 0 01-.248-.219l-.144-1.153A3 3 0 0013.734 1.5h-3.468a3 3 0 00-2.977 2.628l-.144 1.153A.25.25 0 016.9 5.5H3a3 3 0 00-3 3v11a3 3 0 003 3zM9.273 4.376a1 1 0 01.993-.876h3.468a1 1 0 01.993.876l.105.844a.25.25 0 01-.248.28H9.416a.25.25 0 01-.248-.28zM5.25 11a.75.75 0 01.75-.75h12a.75.75 0 01.75.75v.5a.75.75 0 01-.75.75H6a.75.75 0 01-.75-.75zm0 5.5a.75.75 0 01.75-.75h12a.75.75 0 01.75.75v.5a.75.75 0 01-.75.75H6a.75.75 0 01-.75-.75z"
      ></path>
    </svg>
  </div>
  <div class="entry-content row">
    <div class="content col-md-6">
      <div class="header-item location">
        <div class="date">{{ workExperience?.date }}</div>
        <div class="address">{{ workExperience?.address }}</div>
      </div>
      <div class="header-item">
        <div class="position-degree-wrapper d-flex justify-content-md-end">
          {{ workExperience?.position }}
        </div>
        <div class="company">{{ workExperience?.companyName }}</div>
      </div>
      <div class="experience-description">
        <div dir="rtl">
          <ul *ngFor="let desc of workExperience?.experienceDescription">
            <li>{{ desc }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
