$wordColor: #ffd4b0;

.profil-photo {
  border-radius: 50%;
  height: 163px;
}

.info-section {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;

  .info-wrapper {
    display: flex;
    flex-direction: column;
    color: $wordColor;
    font-size: 18px;
    font-family: Sairasans-serif;
    letter-spacing: 1px;

    .key {
      line-height: 26px;
      font-weight: 700;
    }

    .value {
      line-height: 28px;
    }
    a {
      text-decoration: none;
      background-color: transparent;
      width: fit-content;
      color: $wordColor;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
