<div class="row text-primary">
  <div class="col-md-3 text-center">
    <img
      class="profil-photo"
      src="../assets/profil photo2.jpg"
      alt="profil-photo"
    />
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <div class="info-section">
          <div class="info-wrapper">
            <span class="key">Date of birth</span>
            <span class="value">22/02/2001</span>
          </div>
          <div class="info-wrapper">
            <span class="key">Email address</span>
            <a
              class="value"
              href="mailto:emreecann28@gmail.com"
              target="_blank"
              rel="noopener noreferrer nofollow ugc"
              >emreecann28@gmail.com</a
            >
          </div>
          <div class="info-wrapper">
            <span class="key">Phone number</span>
            <a class="value" href="tel:+90 539 833 04 93">+90 539 833 04 93</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-md-0 mt-3">
        <div class="info-section">
          <div class="info-wrapper">
            <span class="key">Nationality</span>
            <span class="value">Turkish</span>
          </div>
          <div class="info-wrapper">
            <span class="key">Address</span>
            <span class="value">Tepebasi, Eskisehir, Turkey</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
